<mat-toolbar>
  <!-- Desktop Menu -->
  <div id="desktopMenu">
    <a mat-button *ngFor="let menuItem of menu" [href]="menuItem.link"
      ><mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon
      >{{ menuItem.name }}</a
    >
  </div>

  <!-- Mobile Menu -->
  <div id="mobileMenu">
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <a mat-menu-item *ngFor="let menuItem of menu" [href]="menuItem.link">
        <mat-icon *ngIf="menuItem.icon">{{ menuItem.icon }}</mat-icon
        >{{ menuItem.name }}
      </a>
    </mat-menu>
  </div>

  <!-- Span to push any content after to the far right -->
  <span style="flex: 1 1 auto"></span>

  <!-- Social icons -->
  <a
    *ngFor="let socialIcon of socialMenu"
    mat-icon-button
    [href]="socialIcon.link"
    target="_blank"
  >
    <mat-icon [svgIcon]="socialIcon.name"></mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>
